footer{
    background-color: $full-black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "map-footer"
    "social-list"
    "author";
    div{
        iframe{
            width: 100%;
            height: 200px;
            border: 0;
        }
    }
}
.redes-container{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 10px;
    ul{
        li{
        display: inline-block;
        padding: 0;
        margin: 0 5px;
        width: 50px;
        height: 50px;
        text-align: center;
        a{
        display: block;
        padding: 10px 10px;
        background: $grey;
        color: $white;
        line-height: 60px;
        width: 60px;
        font-size: 3rem;
        }
        }
    }
}
.author{
    font-size: 1.5rem;
    color: $white;
    margin: 7px;
}
.ul-redes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "facebook youtube fa-instagram fa-whatsapp";
    padding: 0;
}