main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    iframe{
        width: 100%;
    }
    p{
        color: $white;
        font-size: 1.6rem;
        padding: 5px 15px 10px 20px;
        text-align: justify;
    }
    form{
        color: $white;
        font-size: 1.3rem;
        display: flex;
        flex-direction: column;
        min-width: 50%;
        padding: 10px 10px;
        label{
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: 1.8rem;
        }
        input{
            border-radius: 5px;
            height: 40px;
            padding-left: 12px;
        }
        .submit{
            font-size: 1.6rem;
            width: 150px;
            height: 50px;
            margin: auto;
            margin-top: 10px;
            border-radius: 5px;
            background-color: $orange;
            color: $white;
            border-radius: 5px;
            padding: 0;
        }
        textarea{
            resize: none;
            border-radius: 10px;
            padding-left: 10px;
            padding-top: 10px;
            font-size: 1.7rem;
        }
    }
    .return-button{
        margin-top: 3rem;
        padding-bottom: 2rem;
        padding: 10px 30px;
        z-index: 100;
        text-align: center;
        font-size: 3rem;
        ul{
            padding: 0;
        }
    }
    .return-button-style{
        width: 45px;
        list-style-type: none;
        margin: auto;
    }
    .color-acordeon{
        width: 80%;
        margin: auto;
        text-align: center;
        font-size: 2rem;
    }
    .idk{
        font-size: 3rem;
        color: $white;
        justify-self: center;
        background-color: $grey;
        border-radius: 10px;
        padding: 15px;
    }
}
.p-jus{
    margin: 15px;
    font-size: 2rem;
    text-align: justify;
}
.p-jus-b{
    text-align: center;
    font-size: 1.6rem;
    color: $full-black;
}
.event{
    background-color: $grey;
    border-radius: 10px;
}
.pharagraph{
    font-size: 2rem;
}
.comments{
    font-size: 2rem;
    color: $grey;
    font-style: italic;
    text-align: center;
}